{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win Page</title>
    <link rel="stylesheet" href="{% static 'styles/win.css' %}">

</head>
<body>
<div class="win-container">
    <div>
        <h1>Secrets of the Source Code</h1>
    </div>
    <h2>{{ message }}</h2>
    <div class="win-image" text-align="center">
        <img src="{% static 'images/Cluedo style You Win page without people.png' %}" alt="you win" style="display: block; margin: 0 auto;">
    </div>
    <h3><a href="{% url 'start_game' %}">Play Again</a></h3>
</div>
</body>
</html>
